<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaejaeproject.jeckjeck.com.mapper.LoginMapper">
	<select id="selectUserLoginInfo" parameterType="com.jaejaeproject.jeckjeck.com.dto.LoginDTO" resultType="com.jaejaeproject.jeckjeck.com.dto.LoginDTO">
		<![CDATA[
		/*
			Location : /com/LoginMapper_SQL.xml
			ID : selectUserLoginInfo
			Description : 로그인 사용자 정보
		*/
		]]>
		<![CDATA[
			SELECT CU.USERID
				  ,CU.USERNM
				  ,CU.BIRTHDT
				  ,CU.USERTYPECD
				  ,CU.GENDERCD
				  ,CU.APPDT
				  ,CU.APPTYPE
				  ,CU.APPUSERID
				  ,CU.DELYN
			FROM COM_USER CU
			WHERE CU.DELYN = 'N'
			  AND CU.USERID = #{userid}
		]]>
	</select>



</mapper>